/*body {*/
/*    margin: 0;*/
/*    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
/*    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
/*    sans-serif;*/
/*    -webkit-font-smoothing: antialiased;*/
/*    -moz-osx-font-smoothing: grayscale;*/
/*}*/
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.course-grid {
    display: grid;
    grid-template-columns: auto auto auto;
}

input[type=radio] {
    display: none;
}

#sidebar .active {
    color: rgb(34, 154, 22);
    background: rgba(84, 214, 44, 0.16);
    border-radius: .4rem;
    font-weight: 500;
}

#sidebar .nav-item {
    cursor: pointer;
}

.bg-light {
    background: rgba(145, 158, 171, 0.12) !important;
}

#dashboardNavbarDropdown::after {
    content: none;
}

.text-warning {color: #FFC107 !important;}
.text-justify {text-align: justify;}

.btn {font-weight: 500;}


.toast-container {
    z-index: 9999;
}
